## Data source

- #### The Toronto Shootings and Firearm Discharges

retrieved from https://data.torontopolice.on.ca/datasets/TorontoPS::shootings-and-firearm-discharges/about

This dataset includes all the shooting incidents documented by Toronto Police Department from 2005 to 2021. It detailed the dates and exact time of the shooting incidents, injuries and deaths resulting from the shootings, and the neighbourhoods the incidents occurred in.

- #### The Toronto Neighbourhood Profiles

retrieved from https://open.toronto.ca/dataset/neighbourhood-profiles/ 

In these profiles, "neighbourhood" refers to the City of Toronto's 140 social planning neighbourhoods. The data is sourced from a number of Census tables released by Statistics Canada for the 2016 Census. The general Census Profile is the main source table for this data, but other Census tables have also been used to provide additional information. 

The names, number/codes and boundaries of each neigbourhood are consistent with the ones in Shootings and Firearm Discharges so we can join the two datasets.

In [69]:
import pandas as pd

df = pd.read_csv("neighbourhood-profiles-2016-csv.csv")

## Data loading

The Toronto Neighbourhood Profiles contain 2383 rows and 146 columns. The neighbourhoods are in columns and the attributes are in rows.

In [70]:
df

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2378,2379,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Migrants,"400,950","3,170","3,145",925,"6,390",...,"3,765","2,270","7,260",985,620,"1,350","2,425","2,310","4,965","1,345"
2379,2380,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Internal migrants,"184,120",880,980,680,"3,930",...,"1,545","1,110","1,720",610,395,780,"1,260","1,355","1,700",580
2380,2381,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Intraprovincial migrants,"141,135",735,760,615,"2,630",...,"1,070",960,"1,400",350,320,570,970,"1,025","1,490",445
2381,2382,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Interprovincial migrants,"42,985",135,220,70,"1,310",...,475,150,335,250,85,210,290,325,195,135
2382,2383,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,External migrants,"216,835","2,280","2,170",245,"2,460",...,"2,220","1,175","5,540",395,220,575,"1,160",955,"3,285",775

In [139]:
df["Category"].nunique()

15

The attributes contain 15 categories: 'Neighbourhood Information', 'Population', 'Families, households and marital status', 'Language', 'Income', 'Immigration and citizenship', 'Visible minority', 'Ethnic origin', 'Aboriginal peoples', 'Education', 'Housing', 'Language of work', 'Labour', 'Journey to work', 'Mobility'.

Each category contains a few Topics, then specific Characteristic. Since the dataset is very large and complex, we don't want to load everything, and we will only use the ones that might be relevant with the project:

- check each category, then topic
- choose the ones that we find useful, either the whole category or topic, or just a few characteristics
- save them as individual dataframe, then combine together into "selected dataset"
- perform data cleaning and processing on the "selected dataset"

We use the following cells to explore the dataset just by changing the column name in the query, no need to write function.

In [72]:
df[df["Category"] == "Families, households and marital status"]

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
57,58,"Families, households and marital status",Household and dwelling characteristics,Census Profile 98-316-X2016001,Occupied private dwellings by structural type ...,"1,112,930",9125,8135,4620,15935,...,7550,8505,18435,5455,3445,5885,5675,7015,10175,5345
58,59,"Families, households and marital status",Household and dwelling characteristics,Census Profile 98-316-X2016001,Single-detached house,"269,675",3345,2790,2840,645,...,2030,3600,6310,885,1885,920,1400,520,1235,2165
59,60,"Families, households and marital status",Household and dwelling characteristics,Census Profile 98-316-X2016001,Apartment in a building that has five or mor...,"493,275",2120,3145,255,8165,...,4630,3740,9330,690,610,1295,1995,4315,5505,1185
60,61,"Families, households and marital status",Household and dwelling characteristics,Census Profile 98-316-X2016001,Other attached dwelling,"349,880",3645,2200,1525,7125,...,895,1165,2785,3885,950,3680,2275,2175,3430,1990
61,62,"Families, households and marital status",Household and dwelling characteristics,Census Profile 98-316-X2016001,Semi-detached house,"71,225",805,330,545,1185,...,140,530,285,1555,325,880,465,450,1360,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,"Families, households and marital status",Family characteristics of adults,Catalogue no. 98-400-X2016030,Persons age 85+ living alone (total),"20,105",190,95,110,265,...,260,415,345,70,40,125,85,180,125,160
123,124,"Families, households and marital status",Family characteristics of adults,Catalogue no. 98-400-X2016030,Persons age 85+ living alone (per cent),38.70%,25.90%,21.60%,34.40%,49.50%,...,47.30%,46.60%,36.30%,41.20%,32.00%,42.40%,51.50%,50.70%,32.50%,34.80%
124,125,"Families, households and marital status",Family characteristics of adults,Catalogue no. 98-400-X2016030,Population age 20-34 by family characteristics,"648,685","5,780","5,550","2,215","10,000",...,"4,540","3,815","12,020","2,275","1,490","3,300","3,150","3,300","8,035","2,835"
125,126,"Families, households and marital status",Family characteristics of adults,Catalogue no. 98-400-X2016030,Single young adults (age 20-34) living at home...,"86,935",95,410,110,"2,875",...,625,125,565,295,120,490,745,935,710,210
126,127,"Families, households and marital status",Family characteristics of adults,Catalogue no. 98-400-X2016030,Single young adults (age 20-34) living at home...,13.40%,1.60%,7.40%,5.00%,28.80%,...,13.80%,3.30%,4.70%,13.00%,8.10%,14.90%,23.70%,28.30%,8.80%,7.40%

In [78]:
df[(df["Category"] == "Income") & (df["Topic"].str.contains("Income of individuals"))]

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
426,427,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$60,000 to $69,999","114,460",865,825,690,"1,460",...,735,"1,055","1,665",600,420,620,595,720,895,530
615,616,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$70,000 to $79,999","89,645",655,570,530,"1,290",...,605,790,"1,230",540,400,505,520,585,585,380
669,670,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$80,000 to $89,999","69,990",435,435,395,"1,000",...,515,585,800,465,315,345,415,495,405,320
812,813,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$90,000 to $99,999","58,210",365,315,370,830,...,475,565,580,465,265,335,360,425,250,245
827,828,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$150,000 and over","89,770",135,165,225,"3,055",...,515,440,200,495,140,575,"1,230","1,645",80,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,1012,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$70,000 to $79,999","72,190",460,460,455,915,...,440,560,965,455,345,445,385,425,475,310
1012,1013,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$80,000 and over","273,760","1,160","1,135","1,415","5,095",...,"2,055","1,940","1,995","2,135","1,075","1,615","2,270","2,460",920,"1,005"
1013,1014,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$80,000 to $89,999","57,585",365,355,360,770,...,430,450,685,420,285,275,320,345,350,280
1015,1016,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$90,000 to $99,999","50,845",295,275,330,630,...,420,495,480,445,260,315,285,320,240,220
1016,1017,Income,Income of individuals in 2015,Census Profile 98-316-X2016001,"$100,000 and over","165,330",505,515,730,"3,715",...,"1,210","1,000",820,"1,280",535,"1,030","1,660","1,790",330,500

In [85]:
df[df["Category"]=="Mobility"]

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
2365,2366,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Total - Mobility status 1 year ago - 25% sampl...,"2,663,555","28,595","23,235","11,860","28,385",...,"16,530","21,915","52,390","12,250","7,760","13,125","11,660","12,210","27,260","13,915"
2366,2367,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Non-movers,"2,284,060","25,775","20,155","10,895","21,980",...,"12,995","19,805","45,720","10,965","6,830","11,465","9,345","9,835","23,155","12,445"
2367,2368,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Movers,"379,495","2,830","3,070",965,"6,395",...,"3,535","2,120","6,675","1,280",930,"1,655","2,310","2,370","4,100","1,470"
2368,2369,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Non-migrants,"253,780","1,875","2,180",640,"4,275",...,"2,295","1,450","4,695","1,045",725,"1,240","1,515","1,690","2,740","1,140"
2369,2370,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Migrants,"125,715",950,895,330,"2,120",...,"1,245",665,"1,990",230,200,425,800,685,"1,360",325
2370,2371,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Internal migrants,"65,770",345,395,260,"1,280",...,725,400,670,155,145,195,470,420,690,190
2371,2372,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Intraprovincial migrants,"49,990",275,320,220,900,...,470,365,510,115,120,140,345,320,500,145
2372,2373,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Interprovincial migrants,"15,780",75,90,40,385,...,250,30,160,55,20,60,130,110,180,35
2373,2374,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,External migrants,"59,945",605,490,70,835,...,520,280,"1,295",60,60,225,325,265,680,140
2374,2375,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Total - Mobility status 5 years ago - 25% samp...,"2,556,120","27,490","22,325","11,370","27,715",...,"15,945","20,945","49,910","11,530","7,400","12,630","11,230","11,865","26,110","13,420"
2375,2376,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Non-movers,"1,516,110","18,865","13,565","8,235","12,980",...,"7,870","13,920","30,665","7,605","4,690","7,930","5,785","5,660","14,720","9,125"
2376,2377,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Movers,"1,040,015","8,610","8,775","3,130","14,735",...,"8,070","7,020","19,235","3,920","2,710","4,700","5,450","6,195","11,400","4,290"
2377,2378,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Non-migrants,"639,060","5,445","5,610","2,200","8,340",...,"4,305","4,740","11,975","2,920","2,100","3,355","3,020","3,895","6,435","2,940"
2378,2379,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Migrants,"400,950","3,170","3,145",925,"6,390",...,"3,765","2,270","7,260",985,620,"1,350","2,425","2,310","4,965","1,345"
2379,2380,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Internal migrants,"184,120",880,980,680,"3,930",...,"1,545","1,110","1,720",610,395,780,"1,260","1,355","1,700",580
2380,2381,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Intraprovincial migrants,"141,135",735,760,615,"2,630",...,"1,070",960,"1,400",350,320,570,970,"1,025","1,490",445
2381,2382,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Interprovincial migrants,"42,985",135,220,70,"1,310",...,475,150,335,250,85,210,290,325,195,135
2382,2383,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,External migrants,"216,835","2,280","2,170",245,"2,460",...,"2,220","1,175","5,540",395,220,575,"1,160",955,"3,285",775

In [86]:
df[df["Topic"] == "Mobility status - Place of residence 1 year ago"]

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
2365,2366,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Total - Mobility status 1 year ago - 25% sampl...,"2,663,555","28,595","23,235","11,860","28,385",...,"16,530","21,915","52,390","12,250","7,760","13,125","11,660","12,210","27,260","13,915"
2366,2367,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Non-movers,"2,284,060","25,775","20,155","10,895","21,980",...,"12,995","19,805","45,720","10,965","6,830","11,465","9,345","9,835","23,155","12,445"
2367,2368,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Movers,"379,495","2,830","3,070",965,"6,395",...,"3,535","2,120","6,675","1,280",930,"1,655","2,310","2,370","4,100","1,470"
2368,2369,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Non-migrants,"253,780","1,875","2,180",640,"4,275",...,"2,295","1,450","4,695","1,045",725,"1,240","1,515","1,690","2,740","1,140"
2369,2370,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Migrants,"125,715",950,895,330,"2,120",...,"1,245",665,"1,990",230,200,425,800,685,"1,360",325
2370,2371,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Internal migrants,"65,770",345,395,260,"1,280",...,725,400,670,155,145,195,470,420,690,190
2371,2372,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Intraprovincial migrants,"49,990",275,320,220,900,...,470,365,510,115,120,140,345,320,500,145
2372,2373,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Interprovincial migrants,"15,780",75,90,40,385,...,250,30,160,55,20,60,130,110,180,35
2373,2374,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,External migrants,"59,945",605,490,70,835,...,520,280,"1,295",60,60,225,325,265,680,140

### Selected data

These are the attributes that we found relevant with our analysis on shooting incidents:

In [128]:
code = df[df["Characteristic"] == "Neighbourhood Number"]
population = df[df["Category"] == "Population"]
avg_household_size = df[df["Characteristic"] == "Average household size"]
language = df[df["Category"] == "Language"]
edu = df[df["Topic"]=="Highest certificate, diploma or degree"]
mobility = df[df["Topic"] == "Mobility status - Place of residence 1 year ago"]

** we found it easier to use neighbourhood code as join key when joining the shooting incident dataset, so it's necessary to keep the code/Neighbourhood Number.

### Dataframe convertion

We may want to use the dataframes individually or collectively; either way we need to:
- drop columns like "id", "Category", "Topic", "Data Source"
- **put neighbourhood in rows and attributes in columns**
- use the attributes in "Characteristic" as column names

So we write a function:

In [145]:
def df_transpose(df):
    df.drop(['_id', 'Category', 'Topic', 'Data Source'], axis=1, inplace=True)
    df_new = df.transpose()
    df_new.columns = df_new.iloc[0] 
    df_new = df_new[1:]
    df_new = df_new.reset_index()
    df_new.rename(columns={'index':'Neighbourhood'}, inplace = True)
    return df_new

In [147]:
df_pop = population.append(code)
df_pop

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%
5,6,Population,Population and dwellings,Census Profile 98-316-X2016001,Total private dwellings,"1,179,057","9,371","8,535","4,732","18,109",...,"8,054","8,721","19,098","5,620","3,604","6,185","6,103","7,475","11,051","5,847"
6,7,Population,Population and dwellings,Census Profile 98-316-X2016001,Private dwellings occupied by usual residents,"1,112,929","9,120","8,136","4,616","15,934",...,"7,549","8,509","18,436","5,454","3,449","5,887","5,676","7,012","10,170","5,344"
7,8,Population,Population and dwellings,Census Profile 98-316-X2016001,Population density per square kilometre,"4,334","3,929","3,034","2,435","10,863",...,"5,820","4,007","4,345","7,838","6,722","8,541","7,162","10,708","2,086","2,451"
8,9,Population,Population and dwellings,Census Profile 98-316-X2016001,Land area in square kilometres,630.2,7.41,7.83,4.95,2.81,...,2.91,5.53,12.31,1.6,1.17,1.68,1.65,1.17,13.23,6.04
9,10,Population,Age characteristics,Census Profile 98-316-X2016001,Children (0-14 years),"398,135","3,840","3,075","1,760","2,360",...,"1,785","3,555","9,625","2,325","1,165","1,860","1,800","1,210","4,045","1,960"
10,11,Population,Age characteristics,Census Profile 98-316-X2016001,Youth (15-24 years),"340,270","3,705","3,360","1,235","3,750",...,"2,230","2,625","7,660","1,035",675,"1,320","1,225",920,"4,750","1,870"
11,12,Population,Age characteristics,Census Profile 98-316-X2016001,Working Age (25-54 years),"1,229,555","11,305","9,965","5,220","15,040",...,"7,480","8,140","21,945","6,165","3,790","6,420","5,860","5,960","12,290","5,860"
12,13,Population,Age characteristics,Census Profile 98-316-X2016001,Pre-retirement (55-64 years),"336,670","4,230","3,265","1,825","3,480",...,"2,070","2,905","6,245","1,625","1,150","1,595","1,325","1,540","2,965","1,810"
13,14,Population,Age characteristics,Census Profile 98-316-X2016001,Seniors (65+ years),"426,945","6,045","4,105","2,015","5,910",...,"3,370","4,905","8,010","1,380","1,095","3,150","1,600","2,905","3,530","3,295"
14,15,Population,Age characteristics,Census Profile 98-316-X2016001,Older Seniors (85+ years),"66,000",925,555,320,"1,040",...,655,885,"1,130",170,125,880,165,470,400,775
15,16,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 0 to 04 years,"69,895",660,575,360,445,...,355,620,1625,460,225,325,300,220,755,320
16,17,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 05 to 09 years,"69,350",695,540,270,365,...,310,625,1705,400,180,350,305,220,685,315
17,18,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 10 to 14 years,"64,945",660,460,225,325,...,265,610,1600,330,180,310,280,195,635,370
18,19,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 15 to 19 years,"74,240",840,780,285,465,...,415,680,1815,275,160,260,255,145,900,485
19,20,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 20 to 24 years,"97,415",1015,1000,355,1215,...,705,705,2310,255,200,385,345,260,1615,500
20,21,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 25 to 29 years,"113,905",1015,1045,355,2080,...,790,655,2010,335,235,595,530,630,1545,465
21,22,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 30 to 34 years,"108,895",835,820,410,1610,...,780,570,1730,510,315,620,605,620,1105,425
22,23,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 35 to 39 years,"94,070",680,625,455,1055,...,555,590,1585,565,340,535,450,410,875,430
23,24,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 40 to 44 years,"86,535",760,610,420,835,...,530,605,1585,545,295,425,395,365,775,395
24,25,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 45 to 49 years,"90,860",890,760,440,850,...,470,745,1675,505,300,480,390,405,775,505
25,26,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 50 to 54 years,"98,735",1160,970,515,920,...,500,740,1840,515,325,450,385,360,960,495
26,27,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 55 to 59 years,"88,145",1060,850,540,855,...,465,770,1700,425,300,355,285,295,855,475
27,28,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 60 to 64 years,"72,270",925,710,390,755,...,455,630,1340,340,250,365,320,330,585,360
28,29,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 65 to 69 years,"60,360",925,630,300,780,...,410,560,995,240,195,315,250,335,485,330
29,30,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 70 to 74 years,"42,320",590,425,205,640,...,290,430,800,145,110,240,200,330,340,255
30,31,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 75 to 79 years,"32,730",490,350,155,485,...,235,380,645,80,100,185,85,205,310,250
31,32,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 10 to 14 years,"62,165",595,475,255,355,...,235,545,1545,275,155,255,300,155,615,345
32,33,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 80 to 84 years,"25,670",380,240,105,335,...,205,380,585,70,55,210,80,170,245,250
33,34,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 85 to 89 years,"15,665",210,155,65,230,...,145,245,330,35,35,150,30,105,145,155
34,35,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 90 to 94 years,"6,185",100,45,35,80,...,75,85,115,20,10,70,20,35,35,60
35,36,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 95 to 99 years,"1,280",25,20,10,25,...,15,5,20,0,0,15,5,10,0,20
36,37,Population,Age characteristics,Census Profile 98-316-X2016001,Male: 100 years and over,125,0,0,0,5,...,5,0,0,0,0,0,0,0,0,0
37,38,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 0 to 04 years,"66,105",620,530,320,480,...,340,545,1530,445,240,305,300,230,680,285
38,39,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 05 to 09 years,"65,680",620,495,325,400,...,290,605,1650,420,190,315,325,200,660,325
39,40,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 15 to 19 years,"71,285",865,690,290,550,...,400,590,1575,260,135,250,245,165,855,430
40,41,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 20 to 24 years,"97,330",975,895,310,1520,...,705,650,1970,255,175,425,380,350,1395,455
41,42,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 25 to 29 years,"119,040",1005,975,350,2265,...,820,595,2040,390,235,680,705,750,1280,525
42,43,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 30 to 34 years,"115,675",935,835,430,1675,...,755,670,2015,560,330,620,575,695,1110,495
43,44,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 35 to 39 years,"102,240",775,715,450,1040,...,590,705,1900,600,390,510,520,440,970,480
44,45,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 40 to 44 years,"95,860",910,745,445,915,...,510,680,1780,595,335,505,455,420,870,490
45,46,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 45 to 49 years,"100,065",1060,885,430,855,...,545,755,1850,540,320,535,445,425,955,570
46,47,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 50 to 54 years,"103,670",1290,975,515,935,...,610,855,1885,520,350,475,420,430,1075,580
47,48,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 55 to 59 years,"94,660",1165,915,485,915,...,590,835,1790,465,315,435,360,440,890,510
48,49,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 60 to 64 years,"81,600",1070,795,400,940,...,565,670,1415,400,280,450,355,465,640,475
49,50,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 65 to 69 years,"70,180",985,690,325,950,...,510,685,1240,265,190,385,345,485,565,390
50,51,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 70 to 74 years,"51,285",690,450,210,700,...,390,500,1005,175,125,330,245,395,440,345
51,52,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 75 to 79 years,"43,430",575,405,180,565,...,365,545,910,135,115,315,125,300,410,355
52,53,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 80 to 84 years,"34,965",485,350,210,425,...,325,535,745,100,80,275,95,225,345,355
53,54,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 85 to 89 years,"25,135",350,205,130,345,...,255,370,430,90,50,335,70,160,140,290
54,55,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 90 to 94 years,"13,500",160,100,70,260,...,125,155,200,30,15,210,35,100,50,190
55,56,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 95 to 99 years,"3,475",60,20,5,90,...,25,20,50,0,10,85,0,40,10,45
56,57,Population,Age characteristics,Census Profile 98-316-X2016001,Female: 100 years and over,650,10,0,5,25,...,10,10,15,0,5,20,0,5,0,10
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31

In [148]:
df_pop_new = df_transpose(df_pop)
df_pop_new

Characteristic,Neighbourhood,"Population, 2016","Population, 2011",Population Change 2011-2016,Total private dwellings,Private dwellings occupied by usual residents,Population density per square kilometre,Land area in square kilometres,Children (0-14 years),Youth (15-24 years),...,Female: 60 to 64 years,Female: 65 to 69 years,Female: 70 to 74 years,Female: 75 to 79 years,Female: 80 to 84 years,Female: 85 to 89 years,Female: 90 to 94 years,Female: 95 to 99 years,Female: 100 years and over,Neighbourhood Number
0,City of Toronto,"2,731,571","2,615,060",4.50%,"1,179,057","1,112,929","4,334",630.2,"398,135","340,270",...,"81,600","70,180","51,285","43,430","34,965","25,135","13,500","3,475",650,NaN
1,Agincourt North,"29,113","30,279",-3.90%,"9,371","9,120","3,929",7.41,"3,840","3,705",...,1070,985,690,575,485,350,160,60,10,129
2,Agincourt South-Malvern West,"23,757","21,988",8.00%,"8,535","8,136","3,034",7.83,"3,075","3,360",...,795,690,450,405,350,205,100,20,0,128
3,Alderwood,"12,054","11,904",1.30%,"4,732","4,616","2,435",4.95,"1,760","1,235",...,400,325,210,180,210,130,70,5,5,20
4,Annex,"30,526","29,177",4.60%,"18,109","15,934","10,863",2.81,"2,360","3,750",...,940,950,700,565,425,345,260,90,25,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Wychwood,"14,349","13,986",2.60%,"6,185","5,887","8,541",1.68,"1,860","1,320",...,450,385,330,315,275,335,210,85,20,94
137,Yonge-Eglinton,"11,817","10,578",11.70%,"6,103","5,676","7,162",1.65,"1,800","1,225",...,355,345,245,125,95,70,35,0,0,100
138,Yonge-St.Clair,"12,528","11,652",7.50%,"7,475","7,012","10,708",1.17,"1,210",920,...,465,485,395,300,225,160,100,40,5,97
139,York University Heights,"27,593","27,713",-0.40%,"11,051","10,170","2,086",13.23,"4,045","4,750",...,640,565,440,410,345,140,50,10,0,27
140,Yorkdale-Glen Park,"14,804","14,687",0.80%,"5,847","5,344","2,451",6.04,"1,960","1,870",...,475,390,345,355,355,290,190,45,10,31

To export csv file:

In [98]:
df_pop_new.to_csv("population.csv")

To combine all inidividual dataframes:

In [89]:
df_selected = population.append([avg_household_size, language, edu, mobility])
df_selected

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%
5,6,Population,Population and dwellings,Census Profile 98-316-X2016001,Total private dwellings,"1,179,057","9,371","8,535","4,732","18,109",...,"8,054","8,721","19,098","5,620","3,604","6,185","6,103","7,475","11,051","5,847"
6,7,Population,Population and dwellings,Census Profile 98-316-X2016001,Private dwellings occupied by usual residents,"1,112,929","9,120","8,136","4,616","15,934",...,"7,549","8,509","18,436","5,454","3,449","5,887","5,676","7,012","10,170","5,344"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2369,2370,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Migrants,"125,715",950,895,330,"2,120",...,"1,245",665,"1,990",230,200,425,800,685,"1,360",325
2370,2371,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Internal migrants,"65,770",345,395,260,"1,280",...,725,400,670,155,145,195,470,420,690,190
2371,2372,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Intraprovincial migrants,"49,990",275,320,220,900,...,470,365,510,115,120,140,345,320,500,145
2372,2373,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,Interprovincial migrants,"15,780",75,90,40,385,...,250,30,160,55,20,60,130,110,180,35
2373,2374,Mobility,Mobility status - Place of residence 1 year ago,Census Profile 98-316-X2016001,External migrants,"59,945",605,490,70,835,...,520,280,"1,295",60,60,225,325,265,680,140

## Data cleaning & processing

Now we load the shooting incidents dataset:

In [122]:
df2 = pd.read_csv("Shootings_and_Firearm_Discharges.csv")
df2

,X,Y,Index_,Event_Unique_ID,Occurrence_Date,Occurrence_year,Month,Day_of_week,Occurrence_Hour,Time_Range,Division,Death,Injuries,Hood_ID,Neighbourhood,Longitude,Latitude,ObjectId
0,-8.839622e+06,5.410347e+06,201,GO-2005920738,2005/01/21 05:00:00+00,2005,January,Friday,21,Evening,D14,2,0,82,Niagara (82),-79.407679,43.642908,1
1,-8.849870e+06,5.425326e+06,202,GO-2005772582,2005/01/26 05:00:00+00,2005,January,Wednesday,18,Evening,D31,0,1,25,Glenfield-Jane Heights (25),-79.499733,43.740203,2
2,-8.829591e+06,5.437346e+06,203,GO-2005873262,2005/01/26 05:00:00+00,2005,January,Wednesday,0,Night,D42,0,1,116,Steeles (116),-79.317566,43.818163,3
3,-8.857934e+06,5.411806e+06,204,GO-2005883036,2005/01/28 05:00:00+00,2005,January,Friday,21,Evening,D22,0,0,13,Etobicoke West Mall (13),-79.572178,43.652395,4
4,-8.834771e+06,5.430171e+06,205,GO-2005896053,2005/01/29 05:00:00+00,2005,January,Saturday,23,Evening,D33,0,2,52,Bayview Village (52),-79.364096,43.771644,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5091,-8.848998e+06,5.423569e+06,5092,GO-20211182404,2021/06/24 04:00:00+00,2021,June,Thursday,12,Afternoon,D31,0,0,26,Downsview-Roding-CFB (26),-79.491906,43.728798,5092
5092,-8.848808e+06,5.420027e+06,5093,GO-20211185988,2021/06/24 04:00:00+00,2021,June,Thursday,21,Evening,D12,0,0,30,Brookhaven-Amesbury (30),-79.490192,43.705807,5093
5093,-8.836197e+06,5.411887e+06,5094,GO-20211206544,2021/06/27 04:00:00+00,2021,June,Sunday,21,Evening,D51,0,1,75,Church-Yonge Corridor (75),-79.376912,43.652918,5094
5094,-8.847992e+06,5.415870e+06,5095,GO-20211222552,2021/06/29 04:00:00+00,2021,June,Tuesday,23,Evening,D12,0,1,111,Rockcliffe-Smythe (111),-79.482868,43.678803,5095
5095,-8.851826e+06,5.418304e+06,5096,GO-20211222588,2021/06/29 04:00:00+00,2021,June,Tuesday,23,Evening,D23,0,0,8,Humber Heights-Westmount (8),-79.517306,43.694615,5096

In the initial data visualization in Tableau, we found that some entries have no geo location info (X and Y equal 0) and their other attributes also seem to be invalid, so we remove these entries:

In [123]:
df2 = df2[df2["X"] != 0]
df2

,X,Y,Index_,Event_Unique_ID,Occurrence_Date,Occurrence_year,Month,Day_of_week,Occurrence_Hour,Time_Range,Division,Death,Injuries,Hood_ID,Neighbourhood,Longitude,Latitude,ObjectId
0,-8.839622e+06,5.410347e+06,201,GO-2005920738,2005/01/21 05:00:00+00,2005,January,Friday,21,Evening,D14,2,0,82,Niagara (82),-79.407679,43.642908,1
1,-8.849870e+06,5.425326e+06,202,GO-2005772582,2005/01/26 05:00:00+00,2005,January,Wednesday,18,Evening,D31,0,1,25,Glenfield-Jane Heights (25),-79.499733,43.740203,2
2,-8.829591e+06,5.437346e+06,203,GO-2005873262,2005/01/26 05:00:00+00,2005,January,Wednesday,0,Night,D42,0,1,116,Steeles (116),-79.317566,43.818163,3
3,-8.857934e+06,5.411806e+06,204,GO-2005883036,2005/01/28 05:00:00+00,2005,January,Friday,21,Evening,D22,0,0,13,Etobicoke West Mall (13),-79.572178,43.652395,4
4,-8.834771e+06,5.430171e+06,205,GO-2005896053,2005/01/29 05:00:00+00,2005,January,Saturday,23,Evening,D33,0,2,52,Bayview Village (52),-79.364096,43.771644,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5091,-8.848998e+06,5.423569e+06,5092,GO-20211182404,2021/06/24 04:00:00+00,2021,June,Thursday,12,Afternoon,D31,0,0,26,Downsview-Roding-CFB (26),-79.491906,43.728798,5092
5092,-8.848808e+06,5.420027e+06,5093,GO-20211185988,2021/06/24 04:00:00+00,2021,June,Thursday,21,Evening,D12,0,0,30,Brookhaven-Amesbury (30),-79.490192,43.705807,5093
5093,-8.836197e+06,5.411887e+06,5094,GO-20211206544,2021/06/27 04:00:00+00,2021,June,Sunday,21,Evening,D51,0,1,75,Church-Yonge Corridor (75),-79.376912,43.652918,5094
5094,-8.847992e+06,5.415870e+06,5095,GO-20211222552,2021/06/29 04:00:00+00,2021,June,Tuesday,23,Evening,D12,0,1,111,Rockcliffe-Smythe (111),-79.482868,43.678803,5095
5095,-8.851826e+06,5.418304e+06,5096,GO-20211222588,2021/06/29 04:00:00+00,2021,June,Tuesday,23,Evening,D23,0,0,8,Humber Heights-Westmount (8),-79.517306,43.694615,5096

The "Neighbourhood" info is name + code combined. For easier joining, we extract the neighbourhood code:

In [124]:
df2['Code'] = df2['Neighbourhood'].str.extract('(\d+)')
df2

/var/folders/32/_h9xt16s0rv7h9qc5gt4hqbw0000gn/T/ipykernel_11223/1021905804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Code'] = df2['Neighbourhood'].str.extract('(\d+)')

,X,Y,Index_,Event_Unique_ID,Occurrence_Date,Occurrence_year,Month,Day_of_week,Occurrence_Hour,Time_Range,Division,Death,Injuries,Hood_ID,Neighbourhood,Longitude,Latitude,ObjectId,Code
0,-8.839622e+06,5.410347e+06,201,GO-2005920738,2005/01/21 05:00:00+00,2005,January,Friday,21,Evening,D14,2,0,82,Niagara (82),-79.407679,43.642908,1,82
1,-8.849870e+06,5.425326e+06,202,GO-2005772582,2005/01/26 05:00:00+00,2005,January,Wednesday,18,Evening,D31,0,1,25,Glenfield-Jane Heights (25),-79.499733,43.740203,2,25
2,-8.829591e+06,5.437346e+06,203,GO-2005873262,2005/01/26 05:00:00+00,2005,January,Wednesday,0,Night,D42,0,1,116,Steeles (116),-79.317566,43.818163,3,116
3,-8.857934e+06,5.411806e+06,204,GO-2005883036,2005/01/28 05:00:00+00,2005,January,Friday,21,Evening,D22,0,0,13,Etobicoke West Mall (13),-79.572178,43.652395,4,13
4,-8.834771e+06,5.430171e+06,205,GO-2005896053,2005/01/29 05:00:00+00,2005,January,Saturday,23,Evening,D33,0,2,52,Bayview Village (52),-79.364096,43.771644,5,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5091,-8.848998e+06,5.423569e+06,5092,GO-20211182404,2021/06/24 04:00:00+00,2021,June,Thursday,12,Afternoon,D31,0,0,26,Downsview-Roding-CFB (26),-79.491906,43.728798,5092,26
5092,-8.848808e+06,5.420027e+06,5093,GO-20211185988,2021/06/24 04:00:00+00,2021,June,Thursday,21,Evening,D12,0,0,30,Brookhaven-Amesbury (30),-79.490192,43.705807,5093,30
5093,-8.836197e+06,5.411887e+06,5094,GO-20211206544,2021/06/27 04:00:00+00,2021,June,Sunday,21,Evening,D51,0,1,75,Church-Yonge Corridor (75),-79.376912,43.652918,5094,75
5094,-8.847992e+06,5.415870e+06,5095,GO-20211222552,2021/06/29 04:00:00+00,2021,June,Tuesday,23,Evening,D12,0,1,111,Rockcliffe-Smythe (111),-79.482868,43.678803,5095,111
5095,-8.851826e+06,5.418304e+06,5096,GO-20211222588,2021/06/29 04:00:00+00,2021,June,Tuesday,23,Evening,D23,0,0,8,Humber Heights-Westmount (8),-79.517306,43.694615,5096,8

### Calculation

Some calculations can be performed in Tableau but most of them can be prepared using Python. E.g. we can calculate **shooting per captia by neighbourhood**. 

Since the neighbourhood population data is sourced from 2016 census, we use the 2016 shooting incidents as well:

In [149]:
df_pop_new

Characteristic,Neighbourhood,"Population, 2016","Population, 2011",Population Change 2011-2016,Total private dwellings,Private dwellings occupied by usual residents,Population density per square kilometre,Land area in square kilometres,Children (0-14 years),Youth (15-24 years),...,Female: 60 to 64 years,Female: 65 to 69 years,Female: 70 to 74 years,Female: 75 to 79 years,Female: 80 to 84 years,Female: 85 to 89 years,Female: 90 to 94 years,Female: 95 to 99 years,Female: 100 years and over,Neighbourhood Number
0,City of Toronto,"2,731,571","2,615,060",4.50%,"1,179,057","1,112,929","4,334",630.2,"398,135","340,270",...,"81,600","70,180","51,285","43,430","34,965","25,135","13,500","3,475",650,NaN
1,Agincourt North,"29,113","30,279",-3.90%,"9,371","9,120","3,929",7.41,"3,840","3,705",...,1070,985,690,575,485,350,160,60,10,129
2,Agincourt South-Malvern West,"23,757","21,988",8.00%,"8,535","8,136","3,034",7.83,"3,075","3,360",...,795,690,450,405,350,205,100,20,0,128
3,Alderwood,"12,054","11,904",1.30%,"4,732","4,616","2,435",4.95,"1,760","1,235",...,400,325,210,180,210,130,70,5,5,20
4,Annex,"30,526","29,177",4.60%,"18,109","15,934","10,863",2.81,"2,360","3,750",...,940,950,700,565,425,345,260,90,25,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Wychwood,"14,349","13,986",2.60%,"6,185","5,887","8,541",1.68,"1,860","1,320",...,450,385,330,315,275,335,210,85,20,94
137,Yonge-Eglinton,"11,817","10,578",11.70%,"6,103","5,676","7,162",1.65,"1,800","1,225",...,355,345,245,125,95,70,35,0,0,100
138,Yonge-St.Clair,"12,528","11,652",7.50%,"7,475","7,012","10,708",1.17,"1,210",920,...,465,485,395,300,225,160,100,40,5,97
139,York University Heights,"27,593","27,713",-0.40%,"11,051","10,170","2,086",13.23,"4,045","4,750",...,640,565,440,410,345,140,50,10,0,27
140,Yorkdale-Glen Park,"14,804","14,687",0.80%,"5,847","5,344","2,451",6.04,"1,960","1,870",...,475,390,345,355,355,290,190,45,10,31

In [125]:
shooting_2016 = df2[df2["Occurrence_year"] == 2016]
shooting_2016

,X,Y,Index_,Event_Unique_ID,Occurrence_Date,Occurrence_year,Month,Day_of_week,Occurrence_Hour,Time_Range,Division,Death,Injuries,Hood_ID,Neighbourhood,Longitude,Latitude,ObjectId,Code
2021,-8.826256e+06,5.424967e+06,2801,GO-2016348186,2016/02/27 05:00:00+00,2016,February,Saturday,22,Evening,D41,0,1,119,Wexford/Maryvale (119),-79.287606,43.737874,2022,119
2122,-8.836379e+06,5.414555e+06,2802,GO-2016348160,2016/02/27 05:00:00+00,2016,February,Saturday,22,Evening,D51,0,0,74,North St.James Town (74),-79.378545,43.670256,2123,74
2128,-8.851843e+06,5.417998e+06,2803,GO-2016354140,2016/02/28 05:00:00+00,2016,February,Sunday,21,Evening,D23,1,0,8,Humber Heights-Westmount (8),-79.517454,43.692627,2129,8
2135,-8.846006e+06,5.413563e+06,2804,GO-2016359352,2016/02/29 05:00:00+00,2016,February,Monday,23,Evening,D11,1,0,90,Junction Area (90),-79.465020,43.663811,2136,90
2144,-8.818691e+06,5.426068e+06,2805,GO-2016372690,2016/03/03 05:00:00+00,2016,March,Thursday,4,Night,D43,0,0,139,Scarborough Village (139),-79.219653,43.745019,2145,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3911,-8.821011e+06,5.424613e+06,3142,GO-20162290650,2016/12/26 05:00:00+00,2016,December,Monday,5,Night,D43,0,0,138,Eglinton East (138),-79.240490,43.735576,3912,138
3913,-8.830371e+06,5.421005e+06,3143,GO-20162287953,2016/12/27 05:00:00+00,2016,December,Tuesday,4,Night,D54,0,0,44,Flemingdon Park (44),-79.324574,43.712153,3914,44
3915,-8.851539e+06,5.429488e+06,3144,GO-20162297220,2016/12/28 05:00:00+00,2016,December,Wednesday,18,Evening,D31,0,1,24,Black Creek (24),-79.514727,43.767212,3916,24
3917,-8.837909e+06,5.410831e+06,3145,GO-20162299056,2016/12/29 05:00:00+00,2016,December,Thursday,2,Night,D52,0,1,77,Waterfront Communities-The Island (77),-79.392289,43.646054,3918,77
3919,-8.828181e+06,5.421595e+06,3146,GO-20162310983,2016/12/31 05:00:00+00,2016,December,Saturday,1,Night,D54,0,1,54,O'Connor-Parkview (54),-79.304899,43.715987,3920,54

Calculate number of shooting incidents by neighbourhood:

In [127]:
temp1 = shooting_2016.groupby(["Code"]).count()
temp1 = temp1.reset_index()
temp1

,Code,X,Y,Index_,Event_Unique_ID,Occurrence_Date,Occurrence_year,Month,Day_of_week,Occurrence_Hour,Time_Range,Division,Death,Injuries,Hood_ID,Neighbourhood,Longitude,Latitude,ObjectId
0,1,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
1,10,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,104,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,107,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
4,108,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,92,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
94,93,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
95,95,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
96,97,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
97,98,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

Calculate number of death and injuries by neighbourhood:

In [133]:
temp2 = shooting_2016.groupby(["Code"]).sum()
temp2 = temp2.reset_index()
temp2

,Code,X,Y,Index_,Occurrence_year,Occurrence_Hour,Death,Injuries,Longitude,Latitude,ObjectId
0,1,-1.063197e+08,6.507911e+07,35268,24192,151,4,5,-955.086317,524.721434,34699
1,10,-8.854737e+06,5.414822e+06,2765,2016,18,1,0,-79.543455,43.671997,2821
2,104,-8.838407e+06,5.419837e+06,2905,2016,14,1,0,-79.396761,43.704570,2670
3,107,-9.727744e+07,5.959822e+07,32578,22176,181,0,2,-873.858140,480.620446,31078
4,108,-8.843376e+06,5.419604e+06,2915,2016,2,0,0,-79.441402,43.703056,2680
...,...,...,...,...,...,...,...,...,...,...,...
93,92,-8.844279e+06,5.415887e+06,2955,2016,2,0,0,-79.449509,43.678914,2720
94,93,-8.843555e+06,5.412857e+06,2948,2016,3,0,1,-79.443006,43.659223,2713
95,95,-4.419317e+07,2.707302e+07,14754,10080,31,0,3,-396.994006,218.352905,14139
96,97,-8.838111e+06,5.417299e+06,2893,2016,10,0,0,-79.394102,43.688083,2461
97,98,-8.836879e+06,5.417503e+06,2907,2016,9,0,1,-79.383036,43.689413,2672

Combine the result:

In [134]:
temp3 = temp1[["Code", "X"]]
temp3["Death"] = temp2["Death"]
temp3["Injuries"] = temp2["Injuries"]
temp3

/var/folders/32/_h9xt16s0rv7h9qc5gt4hqbw0000gn/T/ipykernel_11223/1869489287.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp3["Death"] = temp2["Death"]
/var/folders/32/_h9xt16s0rv7h9qc5gt4hqbw0000gn/T/ipykernel_11223/1869489287.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp3["Injuries"] = temp2["Injuries"]

   Code   X  Death  Injuries
0     1  12      4         5
1    10   1      1         0
2   104   1      1         0
3   107  11      0         2
4   108   1      0         0
..  ...  ..    ...       ...
93   92   1      0         0
94   93   1      0         1
95   95   5      0         3
96   97   1      0         0
97   98   1      0         1

[98 rows x 4 columns]

Join with the population dataframe on neighbourhood number:

In [151]:
df_pop_new = pd.merge(temp3, df_pop_new, left_on='Code', right_on='Neighbourhood Number')
df_pop_new

,Code,X,Death,Injuries,Neighbourhood,"Population, 2016","Population, 2011",Population Change 2011-2016,Total private dwellings,Private dwellings occupied by usual residents,...,Female: 60 to 64 years,Female: 65 to 69 years,Female: 70 to 74 years,Female: 75 to 79 years,Female: 80 to 84 years,Female: 85 to 89 years,Female: 90 to 94 years,Female: 95 to 99 years,Female: 100 years and over,Neighbourhood Number
0,1,12,4,5,West Humber-Clairville,"33,312","34,100",-2.30%,"11,045","10,285",...,950,825,605,490,390,215,110,25,5,1
1,10,1,1,0,Princess-Rosethorn,"11,051","11,197",-1.30%,"3,958","3,861",...,415,325,220,175,180,120,60,10,0,10
2,104,1,1,0,Mount Pleasant West,"29,658","28,593",3.70%,"18,495","17,497",...,870,750,645,475,390,350,250,85,20,104
3,107,11,0,2,Oakwood Village,"21,210","21,073",0.70%,"9,235","8,687",...,655,565,465,430,320,210,105,25,5,107
4,108,1,0,0,Briar Hill-Belgravia,"14,257","14,302",-0.30%,"6,080","5,737",...,470,400,255,240,170,130,55,10,0,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,92,1,0,0,Corso Italia-Davenport,"14,133","13,743",2.80%,"5,903","5,489",...,395,310,240,220,170,130,45,10,0,92
94,93,1,0,1,Dovercourt-Wallace Emerson-Junction,"36,625","34,631",5.80%,"16,248","15,320",...,905,705,560,515,355,230,100,30,0,93
95,95,5,0,3,Annex,"30,526","29,177",4.60%,"18,109","15,934",...,940,950,700,565,425,345,260,90,25,95
96,97,1,0,0,Yonge-St.Clair,"12,528","11,652",7.50%,"7,475","7,012",...,465,485,395,300,225,160,100,40,5,97
97,98,1,0,1,Rosedale-Moore Park,"20,923","20,631",1.40%,"10,702","10,054",...,845,830,705,520,395,260,155,35,0,98

In [152]:
df_pop_new.rename(columns={'X':'Shooting'}, inplace = True)
df_pop_new

,Code,Shooting,Death,Injuries,Neighbourhood,"Population, 2016","Population, 2011",Population Change 2011-2016,Total private dwellings,Private dwellings occupied by usual residents,...,Female: 60 to 64 years,Female: 65 to 69 years,Female: 70 to 74 years,Female: 75 to 79 years,Female: 80 to 84 years,Female: 85 to 89 years,Female: 90 to 94 years,Female: 95 to 99 years,Female: 100 years and over,Neighbourhood Number
0,1,12,4,5,West Humber-Clairville,"33,312","34,100",-2.30%,"11,045","10,285",...,950,825,605,490,390,215,110,25,5,1
1,10,1,1,0,Princess-Rosethorn,"11,051","11,197",-1.30%,"3,958","3,861",...,415,325,220,175,180,120,60,10,0,10
2,104,1,1,0,Mount Pleasant West,"29,658","28,593",3.70%,"18,495","17,497",...,870,750,645,475,390,350,250,85,20,104
3,107,11,0,2,Oakwood Village,"21,210","21,073",0.70%,"9,235","8,687",...,655,565,465,430,320,210,105,25,5,107
4,108,1,0,0,Briar Hill-Belgravia,"14,257","14,302",-0.30%,"6,080","5,737",...,470,400,255,240,170,130,55,10,0,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,92,1,0,0,Corso Italia-Davenport,"14,133","13,743",2.80%,"5,903","5,489",...,395,310,240,220,170,130,45,10,0,92
94,93,1,0,1,Dovercourt-Wallace Emerson-Junction,"36,625","34,631",5.80%,"16,248","15,320",...,905,705,560,515,355,230,100,30,0,93
95,95,5,0,3,Annex,"30,526","29,177",4.60%,"18,109","15,934",...,940,950,700,565,425,345,260,90,25,95
96,97,1,0,0,Yonge-St.Clair,"12,528","11,652",7.50%,"7,475","7,012",...,465,485,395,300,225,160,100,40,5,97
97,98,1,0,1,Rosedale-Moore Park,"20,923","20,631",1.40%,"10,702","10,054",...,845,830,705,520,395,260,155,35,0,98

Export to csv:

In [55]:
df2.to_csv("Shootings_cleaned.csv")

In [138]:
df_pop_new.to_csv("population.csv")